@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Resume";
}


<h2>Resume</h2>
<h3>Read or download</h3>
<br />
<div class="reswrap">
    <embed src="~/Resources/ePort/AlexWitkowskiResume.pdf" type="application/pdf" style="height:700px;" class="resume"/>
</div>
