@{
    ViewBag.Title = "About";
}

<div class="aboutPadding">
    

    <div class="PushDown">

            <img src="~/Resources/Images/Social/facebook50px.png" width="325" height="400" class="ImgAlex" />

        <h3>A Little About Me</h3>
        <br />
        <p>I am a computer programmer analyst who strives to deliver the best. Each person is different and have different needs, so they shouldn’t all get a cookie cutter template. Helping my clients advance their business is my goal and I achieve this by giving them the best of the newest technologies. By ensuring that these technologies and practices are superior to that of the standard I can make certain that I am providing my clients with a safe, secure and reliable product that will last well into the future. Giving the client the best of what they can get is tremendously important to me so my clients can achieve success.</p>


        <div>
            <h3>Skill Summary</h3>
            <br />
            <h4>Software Experience</h4>
            <p>
                •	Worked in Eclipse to create programs in Java and Android phone applications.<br />
                •	I have used Visual Studio for developing programs in C#, websites in MVC and Windows phone applications.<br />
                •	Built and tested SQL databases in Microsoft SQL Server 2012.
            </p>
            <br />
            <h4>Coding Languages</h4>
            <p>
                •	C#, Java.<br />
                •	MVC, Razor, ASP.NET, SQL.<br />
                •	HTML, CSS, JavaScript, JQUERY, PHP, AJAX.<br />
                •	Batch, VBS, PowerShell.
            </p>
            <br />
            <h4>Project Management</h4>
            <p>
                •	Up-to-date in recent project management systems.<br />
                •	Proficient teamwork ability attained by doing various projects throughout school and co-op work terms.<br />
                •	Developed documenting and organizational skills while keeping track of meetings and reports while working at the Niagara Region.
            </p>
            <br />
            <h4>Related Computer Skills</h4>
            <p>
                •	Knowledgeable in computer hardware including building and installation of new machines.<br />
                •	Taken classes in networking and network security.<br />
                •	Skilled in web design, graphics design and 3D modeling.
            </p>
        </div>



    </div>

</div>



