@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "3D Modeling - Demo Image";
}

<h2>@ViewBag.Title</h2>
<h4>3D image of a deck of cards, created in 3D Studio Max.</h4>

<img src="~/Resources/Cards3D/spadesdeck.jpg" style="height:auto; width:90%" class="exampleImages" />