@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "MVC Web Design - ePortfolio";
}

<h2>@ViewBag.Title</h2>
<h4>An MVC5 website that i designed as my ePortfolio</h4>

<img src="~/Resources/ePort/eportThumb.jpg" style="height:auto; width:90%;" class="exampleImages" />

