@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Flash - Gallery";
}

<h2>@ViewBag.Title</h2>
<h4>Flash gallery that demonstrates navigation and onclick events.</h4>
<p>
    
</p>

<h3>Demo</h3>
    <embed src="~/Resources/FlashNav/Alex_Witkowski_Nav.swf" type="application/x-shockwave-flash" width="900" height="500" allowscriptaccess="always" style="margin-top:-10px;" class="exampleImages" />



